.wrapper {
    padding: 4.63vh 8.33vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favor {
    display: flex;
    align-items: top;
    justify-content: start;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background: rgb(246, 246, 246);
    background-image: url("/favor.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    text-decoration: none;
    &.active {
        align-items: center;
        justify-content: center;
        background: rgb(88, 75, 127);
        cursor: default;
    }
}
.cart {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background: rgb(246, 246, 246);
    background-image: url("/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    cursor: pointer;
    &.active {
        align-items: center;
        justify-content: center;
        background: rgb(88, 75, 127);
        cursor: default;
    }
}
.right {
    display: flex;
    flex-direction: row;
    gap: 12px;
    cursor: pointer;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &.active {
        cursor: default;
    }
}