.wrapper {
    display: block;
    width: 100%;
    max-height: 80vh;
    background-image: url("/logo-main.svg");
    background-size: cover;
    box-sizing: border-box;
}
.banner {
    display: block;
    max-width: 30.48vw;
    margin-left: 13.68vw;
    box-sizing: border-box;
    padding: 1%;
}
.firstText {
    color: rgb(255, 255, 255);
    font-size: clamp(20px, 1vw, 28px);
    font-weight: 500;
    text-transform: capitalize;
}
.secondText {
    color: rgb(255, 255, 255);
    font-size: clamp(58px, 1vw, 78px);
    font-weight: 800;
    line-height: 93.62px;
}
.thirdText {
    color: rgb(255, 255, 255);
    font-size: clamp(22px, 1vw, 32px);
    font-weight: 500;
}
.btn {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 16px 72px 16px 72px;
    border: none;
    cursor: pointer;
    color: rgb(60, 66, 66);
    font-size: clamp(18px, 1vw, 22px);
    font-weight: 700;
}