.rectangle {
    display: block;
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background: rgb(138, 51, 253);
}
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    // padding: 0 8.33vw;
    margin-top: 70px;
    margin-bottom: 50px;
}
.wrapper {
    margin-top: 100px;
    padding: 4.63vh 8.33vw;
    position: relative;
}
.male, .female {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}